<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alueet</title>
        <meta charset="utf-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/custom.css" rel="stylesheet"/>
    </head>
    <body>
      <div class="wrapper">
        <h2>Tikape-foorumi</h2>
        <div class="row">
          <div class="alue-container">
            <table>
                <tr>
                    <th align="left">Alueet</th>
                </tr>
                <tr th:each="alue: ${alueet}">
                    <td>
                        <a th:href="@{~/alue/{id}(id=${alue.id})}" th:text="${alue.name}"></a>
                    </td>
                </tr>
            </table>
            <table style="float: left">
                <tr>
                    <th align="left">Viestit alueella</th>
                </tr>
                <tr th:each="maara: ${viestimaara}">
                    <td>
                        <a th:text="${maara}"></a>
                    </td>
                </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="form-container">
            <h3>Lisää uusi alue</h3>
            <form method="POST" th:action="@{~/alue}">
              <p>Alueen nimi </p><input type="text" maxlength="30" size="30" name="name"/>
              <input type="submit" value="Lisää"/>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
